@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: Outfit;
}

.active {
	background-color: #ede8f5;
	border-color: #3d52a0;
}

select,
input,
textArea {
	border: 1px solid #3d52a0;
	outline-color: #adbbda;
	border-radius: 4px;
}
